<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="FitGo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitAPP">
        <activity
            android:name=".InfoExerciseActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".TrainingReadySetsActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ProgressActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ExerciseCreatorActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AddExerciseActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AddTrainingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".TrainingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SummaryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AchivActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ExerciseActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".StartTrainingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".MainScreenActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
    </application>
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

</manifest>